.project {
  height: 30rem;
  padding: 4rem 0 8rem 0;
  padding-left: 1rem;
}

.projectCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.projectContainer {
  padding: 0 4rem;
  padding-right: 0;
}

.project h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0.8rem;
}
.project h2:nth-child(2) {
  color: var(--primaryColor);
}
.swapView {
  font-size: 1rem;
  margin-bottom: -3rem;
  margin-top: 5rem;
}
.projectContainer {
  background-color: #fff4e6;
  margin-top: 4rem;
  padding-top: 1rem;
}
.projectCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  margin-left: 2rem;
}

.projectCard {
  max-width: 20rem;
  height: 10rem;
  background-color: #fff;
  position: relative;
  transition: all 0.4s;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.3);
  margin-bottom: 3rem;
}
.projectCardPosition {
  position: absolute;
  top: 280%;
  left: 2%;
}
.cover {
  display: none;
  animation: fadein 0.5s;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  border-radius: 1rem;
}
.projectCard {
  display: block;
  position: relative;
}
.projectCard:hover .cover {
  display: block;
  opacity: 0.6;
  height: 10rem;
}

.imgContainer {
  width: 20rem;
}
.projectCard img {
  position: absolute;
  width: 100%;
  height: 10em;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
}

.projectCard h3 {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(50%);
  font-size: 1.4rem;
  opacity: 0;
  z-index: 99999;
}

.projectCard p {
  position: absolute;
  top: 0;
  left: 3%;
  opacity: 0;
  margin-left: 1rem;
  z-index: 9999;
}
.projectCard a {
  font-size: 1rem;
  margin: 1rem 0 0 5.8rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff922b;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #fff;
  z-index: 9999;
}
.projectCard:hover img {
  border-radius: 1rem;
}
.projectCard:hover h3 {
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.8s;
}
.projectCard:hover p {
  opacity: 1;
  transform: translateY(3rem);
  transition: all 0.8s;
}
.projectCard:hover a {
  opacity: 1;
  transform: translateY(6rem);
  transition: all 0.8s;
}
[data-scroll] {
  transition: all 1s;
}
section[data-scroll="in"] {
  opacity: 1;
  animation: movetotop 1s ease-in;
}
[data-scroll="out"] {
  opacity: 0;
}
/* animation */

@keyframes movetotop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    height: 0rem;
  }
  to {
    opacity: 0.6;
    height: 10rem;
  }
}
@media (max-width: 450px) {
  .project {
    height: 35rem;
  }
  .project h2 {
    font-size: 1.5rem;
  }
  .projectCard h3 {
    font-size: 1.2rem;
  }

  .projectCard p {
    font-size: 0.9rem;
  }
  .projectCard a {
    font-size: 0.9rem;
    padding: 0.9rem 1.3rem;
  }
}
@media (max-width: 400px) {
  .projectCard {
    max-width: 18rem;
  }
  .projectCard:hover {
    width: 19rem;
  }
  .imgContainer {
    width: 18rem;
  }
  .projectCard img {
    width: 100%;
  }
  .projectCard a {
    padding: 0.4rem 0.8rem;
  }
  .projectCard a:hover {
    transform: translateY(5.8rem);
  }
}
